<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.luisjavierlinares.android.doing">

    <permission android:name="com.luisjavierlinares.android.doing.PRIVATE"
                android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="com.luisjavierlinares.android.doing.PRIVATE"/>

    <application
        android:icon="@mipmap/ic_launcher_doing"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_doing_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules">

        <activity android:name=".DoingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="doing"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="doingApp.doing"
                    android:scheme="http" />
                <data
                    android:host="doingApp.doing"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DoingDetailActivity">
        </activity>
        <activity
            android:name=".UserHistoryActivity">
        </activity>
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />

        <receiver android:name=".receivers.StartupReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.AppUpdatedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.TimeChangedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.NotificationReceiver">
            <intent-filter
                android:priority="-999">
                <action android:name="com.luisjavierlinares.android.doing.SHOW_NOTIFICATION" />
            </intent-filter>
        </receiver>

        <service android:name=".services.UpdateAndNotifyJob"
                 android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>
        <service
            android:name=".services.UpdateAndNotifyMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".services.UpdateAndNotifyInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>

</manifest>